body{
    background-color: rgb(71, 43, 69);
}

.bg-light-dark{
    background-color: rgb(103, 63, 101);
}

#root{
    display: flex ;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.container{
    flex: 1;
}